*.pyc
parser/__pycache__/
server/__pycache__/    
measurements/__pycache__/
handler/__pycache__/
__pycache__/
*.DS_Store
cache/
data.db
dask-worker-space/
bower_components/
.ipynb_checkpoints/
*.sqlite3
*.ipynb