language: python
python:
- '3.6'
cache: pip
install:
- pip install -r requirements.txt
- pip install .
script: python setup.py test
deploy:
  provider: pypi
  username: jkanche
  user: jkanche
  twine_version: 3.2.0
  password:
    secure: SfLYX9XPfVYqVu0sDqRIwTKXmsqDfdpyelNAjI6FnyxYyALSys7uhWh1GxvBuzy/IyK2ClX67Jw+QQT3vAoAa19WD/dv46F6uNAY/C5oMWPHt1D/MKtJB2jzCrhjYE77v3qwttJGFQS/UL7lnq7/AtWvcKqxiDVePYDrkAEe3ekAmnZeAd8dfs/KCjsKk/+ZwjbbFtP/RN2fOrvCJLLs7UWJ3c+q74YlGb1OVCzWgwPfbTp0JGA24n2lxNGI8oyFmV8tdpxDVlFddYXsMAGR6AtUvr4yBPoaU5KzxwK8AOkWxmhqqK5OkGp9vmdQyptFPs0BVy6RNbH5CHwXzhbxXjvXnwEGguhL0LbEOkRnFQI3gR0sqloi6LRJSNeoeKUqcBFWqUKFzvaaaqfmUV0KBSfWFy+ZfTZpSGYkE/x+y9qXT8XO/1CfyV+KlGvER77F5GgCyXwzFSVvQK7yv28my0S9DAGpCzx/1xb1mNqZglrvQARiHldxCbO5pKoFVuQ65p6glp7sblHaEut8+H41vzA3KuJURlKrFhhuLSRS2BTldfqXDq7J4N1brf9rJC9zBWHQVakxh0gJV0t5/BkjCYoBfwCs1vdJcNtCbQcNmGgGaW4BXpV1gpAbybPAa6G3lnDxWeEvwpmwJKNTj28SgbBnMbyKslUrR2+6VtkYirU=
  on:
    branch: master
    tags: true
    repo: epiviz/epivizFileServer
    python: '3.6'
  distributions: sdist bdist_wheel
  skip_existing: true
  skip_cleanup: true
