aiocache==0.10.0
aiodns==1.1.1
aiofiles==0.4.0
aiohttp==3.4.4
dask==0.19.2
distributed==1.23.2
pandas==0.23.4
requests==2.20.0
sanic==0.7.0
Sanic-Cors==0.9.4
scikit-learn==0.19.2
uvloop==0.11.2
pysam==0.15.0
h5py==2.9.0
mkdocs
scipy
numpy
pytest
umsgpack
ujson